/* Nuit de l'info 2023 - Équipe : PolyCartel - Établissement : Polytech Tours */

@import url("https://fonts.googleapis.com/css2?family=OpenSans");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f0f0f0;
    background-image: url("../images/main_background.svg");
    background-size: cover;
    background-position: top;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

