/* Nuit de l'info 2023 - Équipe : PolyCartel - Établissement : Polytech Tours */

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url(../fonts/OpenSans.ttf);
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f0f0f0;
    background-image: url("../images/main_background.svg");
    background-size: cover;
    background-position: top;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

